<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Booking - Confirmation</title>
  <style type="text/css">
    body {
      width: 800px;
      margin: auto;
    }
    table {
      width: 100%;
    }
    table, td, th {
      border: 1px solid black;
      padding: 3px 2px;
    }
  </style>
</head>
<body>
<section>
  <header>
    <h1>Event Booking page - Booking Confirmation</h1>
  </header>
  <table>
    <tr>
      <th colspan="2">Your Booking Status</th>
    </tr>
    <tr>
      <td><b>Attendee Name</b></td>
      <td th:text="${booking.attendeeName}"></td>
    </tr>
    <tr>
      <td><b>Attendee Address</b></td>
      <td th:text="${booking.attendeeAddress}"></td>
    </tr>
    <tr>
      <td><b>Client IP Address</b></td>
      <td th:text="${clientIp}"></td>
    </tr>
    <tr>
      <td><b>Booking for Event</b></td>
      <td th:text="${booking.eventName}"></td>
    </tr>
    <tr>
      <td><b>Number of Tickets</b></td>
      <td th:text="${booking.numberOfTickets}"></td>
    </tr>
  </table>
  <br/>
  <a href="/" class="button">Back to Events List</a>
</section>
</body>
</html>